@import '../../sass/mixins';
@import '../../sass/vars';

.reccard {
	display: flex;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__thumbnail {
		width: 10rem;

		img {
			width: 100%;
		}
	}

	&__details {
		margin-left: 1rem;
		display: flex;
		flex-direction: column;
	}

	&__title {
		text-decoration: none;
		display: block;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-family: $font-family-secondary;
		font-weight: 600;
		letter-spacing: 1px;
		color: $color-primary;
	}

	&__models {
		list-style: none;
		display: flex;
		flex-direction: row;
		font-size: 1.3rem;
		font-weight: 300;
		color: $color-gray-light;

		a {
			text-decoration: none;
			color: currentColor;
		}

		a:not(:first-child) {
			margin-left: 3px;
		}

		a:hover {
			cursor: pointer;
			color: $color-white;
		}
	}

	&__stats {
		font-size: 1.4rem;
		color: $color-gray-light;

		span:not(:last-child)::after {
			content: "";
			height: .3rem;
			width: .3rem;
			background-color: $color-gray-dark;
			vertical-align: middle;
			display: inline-block;
			margin: 0 .5rem 0 .6rem;
			border-radius: 50%;
		}

		span:nth-child(1) {
			color: $color-primary-dark;
		}

		span:nth-child(3) {
			i {
				font-size: 1.2rem;
				color: crimson;
			}
		}
	}
}
