@import '../../sass/vars';

.landing {
	&__header {
		height: $landing-header-height;
		background-image: url(https://transform.gammacdn.com/5mtb3zfzz1y7/3LmiF6LdZMoIGZUzgqX8r7/9e7cc5157b6503df0c59b1d1790f01e8/PureTaboo_2021Mosaic.jpg?width=1550&format=webp);
		background-position: top;
		background-size: cover;
	}

	&__header-cta {
		text-decoration: none;
		color: currentColor;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		font-size: 2.1rem;
	}

	&__promo-video {
		text-decoration: none;
		color: currentColor;
		display: block;
		width: 100%;

		video {
			width: 100%;
		}
	}
}
