@import '../../sass/vars';
@import '../../sass/mixins';

.navbar {
	height: $navbar-height;
	width: 100%;
	padding: $navbar-padding;
	background-color: $navbar-background-color;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	a {
		text-decoration: none;
		color: currentColor;

		display: flex;
		align-items: center;
	}

	&__logo-link {
		height: 80%;
	}

	&__logo {
		height: 70%;
		width: auto;
		max-width: 20rem;

		@include respond(tab-port) {
			max-width: 15rem;
		}
	}

	&__links {
		display: flex;

		& > *:not(:last-child) {
			margin-right: 1rem;
		}
	}

	//||||||||||||||||||||||||||||||||||||||||||||

	&__user {
		display: inline-block;
		text-decoration: none;

		border-radius: 5px;
		padding: .45rem 1rem;

		display: flex;
		align-items: center;
		position: relative;

		&:hover {
			background: rgba(255, 3255, 255, .2);
		}

		img {
			height: 2.5rem;
			margin-right: .8rem;
		}

		i {
			margin-top: -4px;
		}
	}

	&__dropdown {
		position: absolute;
		top: 120%;
		right: 0;
		border-radius: 6px;
		overflow: hidden;
		background: #000;
		border: 1px solid #2c2c2c;
		width: 20rem;

		& > * {
			padding: 2rem;

			&:not(:last-child) {
				border-bottom: 1px solid #2c2c2c;
			}
		}

		span {
			display: flex;
			flex-direction: column;
		}
	}
}
